{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Comet</title>
        <link rel="stylesheet"  href='{% static 'css/Homepage.css' %}'>
        <script type="text/javascript" scr="{% static 'js' %}"></script>
    </head>
    <body>
        <div class="siteHeader">
            <section id="section_1" class="section_1">
                <div>comet</div>
            </section>
    
            <section id="section_2" class="section_2">
               <div class ="search bar">
                   <form method="post" action="">
                       {% csrf_token %}

                       <input type="text" name="searchItem" placeholder="search here">
                       <button type="submit"></button>
                   </form>
               </div>

            </section>
        </div>

        <div>
            {% for i in q %}
                    <div>{{i.id}}</div>
                    <div>{{i.price}} </div>
                    <div>{{i.name}}</div>
            {% endfor %}
        </div>


        <div>{{ userInput }}</div>

    </body>
</html>